body{
background-color:skyblue;
}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 250px;
}
#btn_sb{
border-radius: 10px;
}
#emailC{
border-radius: 5px;
}
#passwordC{
border-radius: 5px;
}
